{%extends 'base.html'%}
{%block page_title%}Home{%endblock%}
{%block page_body%}
<div class="container">
    
    <div class="todo-container">
        <h1 class="page-title">Djodo List</h1>
        <form class="todo-form" method="POST">
            {%csrf_token%}
            <input name="{{todo_form.todo.name}}" class="todo-text" type="text" />
        </form>
        <ul class="todo-list">
            {%for each_task in items%}
            <li class="added">{{each_task}}</li>
            {%endfor%}
        </ul>
    </div>
</div>
</div>
{%endblock%}
