{%extends 'base.html'%}
{%block page_title%}Home{%endblock%}
{%block page_body%}
<div class="container">
    <div class="todo-container">
        <form class="todo-form">
            <input class="todo-text" type="text" />
        </form>
        <ul class="todo-list">
            <li>Hit the gym </li>
            <li>Pay bills</li>
            <li>Meet George</li>
            <li>Buy eggs</li>
            <li>Read a book</li>
            <li>Organize office</li>
        </ul>
    </div>
</div>
</div>
{%endblock%}
